*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0px;
}

body{
    width: 100vw;
    background-color: #fff;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header "
    "main "
    "footer"
    ;
    grid-template-rows: 50px  /* header*/ 
    1fr /* ideia flexivel pra preencher tudo de espaço* main e aside*/ 
    40px 
    ;
}

header{
    width: 100%;
grid-area: header;
background-color: #101026;
display: flex;
align-items: center;
justify-content: space-between;
padding:0 18px;
}

.h2{
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    
}.h2:hover{
    background-color:rgba(127, 255, 212, 0.247);
    transform: scale(1.1, 1.1);
    transition: .3s;
}

.nav, .ul, .li, a{
    color: white;
    display: flex;
    gap: 13px;
    font-family: sans-serif;
    font-weight: bold;
} a:hover{
    background-color:rgba(127, 255, 212, 0.247);
    transform: scale(1.1, 1.1);
    transition: .3s;
}


main{
    grid-area: main;
    display: flex;
}
article{
    padding: 10px 4px;
    display: flex;
    flex-direction:column;
}
.image{
    width: 50px;
}
aside{
    grid-area: aside;
    background-color: lightcoral;
}


footer{
    grid-area: footer;
    background-color: lightslategray;
}

