@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald:wght@500&display=swap');
*{
 margin:0;
 text-decoration: none;
 box-sizing: border-box;
 padding: 0;
 list-style: none;
} 

#header{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-if{
height:100px;
}

#btn1{
 height: 50px;
 width: 100px;
 color: black;
}

#nav,#ul,#li,#a{
display: flex;
gap: 20px;
font-family: 'Bebas Neue', cursive;
font-size: 26px;
align-items: center;
}