*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*NO POSITION ABSOLUTE CRIA UMA NOVA CAMADA ACIMA DA CAMADA DOS ITEMS*/

.div1{
height: 100px;
width: 100px;
background: lightcoral;
border: lightgray;
position: absolute;
left:0px;
top: 0px;
}

.div2{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    margin-top: 20px;
}

.div3{
    margin-top: 20px;
    height: 100px;
    width: 100px;
    background-color: lightseagreen
}

