@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&display=swap');
*{
    margin: 0;
    text-decoration: none;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    background:#FFE902;
    
}

#cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px; 
    background: #8E24AA;
    padding-top: 16px;
}

#nav{
    display: flex;
    gap: 32px;
}
   


.a{
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 24px;
    color: rgb(255, 255, 255);
    display: flex;
}

#conteudo{
    display: flex;
}

.sorvete{ 
    width:140px;
    height: 199px;  
}  

#div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#h1{
    display: flex;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 24px;
    color: rgb(255, 255, 255);
    padding: 90px;
}

