
.container{
margin: 0 auto;
width: 960px;
}

body{
    font-family: 'Lucida Grande','Lucida Sans Unicode', Verdana, sans-serif;
    line-height: 1.6;
}

.place{
    border-color: rgb(250, 247, 247) rgb(165, 163, 163) #CCC;
    border: 1px solid rgba(204, 204, 204, 0.815);
    margin-bottom: 20px;
    padding: 10px
}

.place h2{
    border-bottom: 1px dashed #7E9F29;
    margin:0;
}

body{
    background: #e4d8d8 url("file:///C:/Users/Ari%20Gardunho/Pictures/verde.jpg"); 
}
h1{
    color: rgb(0, 0, 0);
text-align:center;}

a{
    color: rgba(204, 204, 204, 0.801);
}

.h1{
    display: block;
}